@use "/src/globalScss/variables" as variables;

.projects-title {
    text-align: center;
    color: variables.$thirdColor;
    padding: 5rem 0 2rem 0;
    &:after {
        background-color: variables.$thirdColor;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 3%;
    }
    &:before {
        background-color: variables.$thirdColor;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 3%;
    }
<<<<<<< HEAD
}
.cards{
    display: flex;
    // justify-content: space-around;
    justify-content: center;
    align-items: center;
=======
>>>>>>> fe8d57ddfc8501ed2c69bd569accbc29d2e544ff
}